{% extends 'auctions/base.html' %}

{% block title %}Forgot Password | Freemind Auction{% endblock %}

{% block content %}

<div style="max-width:450px;margin:50px auto;background:white;padding:35px;border-radius:18px;border:1px solid #e2e8f0;">

    <h1>Umesahau Password?</h1>

    <p>
        Weka email uliyotumia kusajili akaunti yako.
        Tutakutumia link ya kuweka password mpya.
    </p>

    <form method="post">

        {% csrf_token %}

        {{ form.as_p }}

        <button type="submit" class="btn">
            Tuma Reset Link
        </button>

    </form>

</div>

{% endblock %}